[submodule "vim/bundle/desertink"]
	path = vim/bundle/desertink
	url = https://github.com/toupeira/vim-desertink.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/toupeira/vim-fuzzyfinder.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/syntaxattr"]
	path = vim/bundle/syntaxattr
	url = https://github.com/vim-scripts/SyntaxAttr.vim.git
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = https://github.com/toupeira/vim-autocomplpop.git
[submodule "vim/bundle/session"]
	path = vim/bundle/session
	url = https://github.com/xolox/vim-session.git
