[submodule "vim/bundle/desertink"]
	path = vim/bundle/desertink
	url = https://github.com/toupeira/vim-desertink.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/rsi"]
	path = vim/bundle/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/pasta"]
	path = vim/bundle/pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/bundle/scriptease"]
	path = vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/targets"]
	path = vim/bundle/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "vim/bundle/bbye"]
	path = vim/bundle/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "rbenv/plugins/ruby-build"]
	path = rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "rbenv/rbenv"]
	path = rbenv/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "vim/bundle/slim"]
	path = vim/bundle/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "rbenv/plugins/rbenv-binstubs"]
	path = rbenv/plugins/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs.git
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/tmux-complete"]
	path = vim/bundle/tmux-complete
	url = https://github.com/wellle/tmux-complete.vim.git
[submodule "tmux/copycat"]
	path = tmux/copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/yank"]
	path = tmux/yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/open"]
	path = tmux/open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "vim/bundle/fetch"]
	path = vim/bundle/fetch
	url = https://github.com/kopischke/vim-fetch.git
[submodule "rbenv/plugins/rbenv-communal-gems"]
	path = rbenv/plugins/rbenv-communal-gems
	url = https://github.com/tpope/rbenv-communal-gems.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/css3-syntax"]
	path = vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/devicons"]
	path = vim/bundle/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/projectionist"]
	path = vim/bundle/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/elixir"]
	path = vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "vim/bundle/org-mode"]
	path = vim/bundle/org-mode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/vue"]
	path = vim/bundle/vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "rbenv/plugins/update-rubies"]
	path = rbenv/plugins/update-rubies
	url = https://github.com/toy/rbenv-update-rubies.git
[submodule "rbenv/plugins/whatis"]
	path = rbenv/plugins/whatis
	url = https://github.com/toy/rbenv-whatis.git
[submodule "vim/bundle/fzf-vim"]
	path = vim/bundle/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/tmux"]
	path = vim/bundle/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/dirvish"]
	path = vim/bundle/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/deoplete"]
	path = vim/bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/bundle/neco-syntax"]
	path = vim/bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "vim/bundle/neco-vim"]
	path = vim/bundle/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "vim/bundle/vista"]
	path = vim/bundle/vista
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "vim/bundle/bufferize"]
	path = vim/bundle/bufferize
	url = https://github.com/AndrewRadev/bufferize.vim.git
[submodule "vim/bundle/didyoumean"]
	path = vim/bundle/didyoumean
	url = https://github.com/EinfachToll/DidYouMean.git
[submodule "vim/bundle/sandwich"]
	path = vim/bundle/sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "vim/bundle/deoplete-spell"]
	path = vim/bundle/deoplete-spell
	url = https://github.com/deathlyfrantic/deoplete-spell.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/matchup"]
	path = vim/bundle/matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "vim/bundle/cycle"]
	path = vim/bundle/cycle
	url = https://github.com/bootleq/vim-cycle.git
[submodule "vim/bundle/jumpy"]
	path = vim/bundle/jumpy
	url = https://github.com/arp242/jumpy.vim.git
[submodule "vim/bundle/fugitive-gitlab"]
	path = vim/bundle/fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/bundle/rhubarb"]
	path = vim/bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/bundle/splitjoin"]
	path = vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/bundle/startify"]
	path = vim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/reply"]
	path = vim/bundle/reply
	url = https://github.com/rhysd/reply.vim.git
[submodule "vim/bundle/smoothie"]
	path = vim/bundle/smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "vim/bundle/definitive"]
	path = vim/bundle/definitive
	url = https://github.com/misterbuckley/vim-definitive.git
[submodule "vim/bundle/palenight"]
	path = vim/bundle/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/lastplace"]
	path = vim/bundle/lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "vim/bundle/base16"]
	path = vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/searchlight"]
	path = vim/bundle/searchlight
	url = https://github.com/PeterRincker/vim-searchlight.git
[submodule "vim/bundle/rspec"]
	path = vim/bundle/rspec
	url = https://github.com/keith/rspec.vim.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
