[Unit]
Description=Enable PulseAudio loopback for USB audio

[Service]
Type=oneshot
StandardOutput=null
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecCondition=sh -c '! /usr/bin/pactl list modules | grep -q module-loopback'
ExecStart=/usr/bin/pactl load-module module-loopback \
  source=alsa_input.usb-Yamaha_Corporation_AG06_AG03-00.analog-stereo \
  latency_msec=1
