snippet span
	<span>${1}</span>${2}

snippet small
	<small>${1}</small>${2}

snippet ul
	<ul>
		${1}
	</ul>
snippet li
	<li>${1}</li>${2}

snippet table
	<table>
	<tr>
		${1}
	</tr>
	</table>
snippet tr
	<tr>
		<th>${1}</th>
		${2}
	</tr>${3}
snippet th
	<th>${1}</th>${2}
snippet td
	<td>${1}</td>${2}
