silent snippet pr
	print "${1:string}"${2};

silent snippet ar
	array('${1}' => ${2})

silent snippet cla
	class ${1:ClassName}
	{
		${2}
		function ${3:__construct}(${4:argument})
		{
			${5:// code...}
		}
	}

silent snippet fun
	${1:public }function ${2:FunctionName}(${3}) {
		${4:// code...}
	}
