snippet pr
	print "${1:string}"${2};

snippet ar
	array('${1}' => ${2})

snippet cla
	class ${1:ClassName}
	{
		${2}
		function ${3:__construct}(${4:argument})
		{
			${5:// code...}
		}
	}

snippet fn
	function ${1:FunctionName}(${2}) {
		${3:// code...}
	}

snippet meth
	${1:public }function ${2:FunctionName}(${3}) {
		${4:// code...}
	}
