@-moz-document domain(trello.com) {
  .list-title .num-cards {
    display: inline !important;
    font-weight: bold !important;
    float: right !important;
  }

  .list-title.editing .num-cards {
    display:none !important;
  }
}
