/* Remove tab context menu items */
menuitem#context_openANewTab,
menuitem#context_bookmarkTab,
menuitem#context_bookmarkSelectedTabs,
menuitem#context_duplicateTab,
menuitem#context_duplicateTabs,
menuitem#context_closeDuplicateTabs,
menu#context_moveTabOptions
{
  display: none !important;
}

/* Remove link context menu items */
menuitem#context-openlink,
menuitem#context-stripOnShareLink,
menuitem#context-sendimage,
menuitem#context-sendvideo,
menuitem#context-sendaudio,
menuitem#context-print-selection,
menuitem#context-searchselect-private,
menuitem#context-setDesktopBackground,
menuseparator#context-sep-setbackground
{
  display: none !important;
}

/* Remove play buttons in tabs */
.tab-audio-button[activemedia-blocked] {
  display: none !important;
}

.tab-icon-stack[activemedia-blocked] {
  --tab-icon-end-margin: 5.5px !important;
}

/* Hide the "New" label on "Add Split View" */
#context_moveTabToSplitView::after {
  display: none !important;
}
