/* Always show full findbar */
.findbar-container > * {
  display: -moz-box !important;
}

/* Remove context menu items */
#context_openANewTab,
#context_bookmarkTab,
#context_bookmarkSelectedTabs,
#context_duplicateTab,
#context_duplicateTabs,
#context_moveTabOptions
{
  display: none !important;
}

#context-openlink,
#context-openlinkprivate,
#context-sendimage,
#context-print-selection,
#context-searchselect,
#context-searchselect-private,
#context-setDesktopBackground,
menu[label="Firefox Multi-Account Containers"]
{
  display: none !important;
}
