/* Fix monospace font sizes in devtools */
.devtools-monospace {
  font-size: 100% !important;
}

/* Always show full findbar */
.findbar-container > * {
  display: -moz-box !important;
}

/* Hide plugin activation notification */
notification[value="plugin-hidden"] {
  display: none !important;
}


/* Tweak Awesomebar for Numix theme */
/* http://superuser.com/a/1066621 */

#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"],
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"] * {
  color: #FFFFFF !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem description {
  color: #F16962 !important;
  font-weight: normal;
  text-decoration: none;
  font-size: 8pt !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem description:last-child {
  color: #FFFFFF !important;
  font-weight: normal;
  text-decoration: none;
  font-size: 8pt !important;
}

.ac-title {
  color: #FFFFFF !important;
}

#PopupAutoComplete .autocomplete-treebody {
  color: #FFFFFF !important;
}
