/* Remove tab context menu items */
menuitem#context_openANewTab,
menuitem#context_ungroupTab + menuseparator,
menuitem#context_bookmarkTab,
menuitem#context_bookmarkSelectedTabs,
menuitem#context_duplicateTab,
menuitem#context_duplicateTabs,
menuitem#context_closeDuplicateTabs,
menu#context_moveTabOptions
{
  display: none !important;
}

/* Remove link context menu items */
menuitem#context-openlink,
menuitem#context-stripOnShareLink,
menuitem#context-sendimage,
menuitem#context-sendvideo,
menuitem#context-sendaudio,
menuitem#context-print-selection,
menuitem#context-searchselect-private,
menuitem#context-setDesktopBackground,
menuseparator#context-sep-setbackground
{
  display: none !important;
}
