@-moz-document domain(todoist.com) {
  #premium_promotion {
    display: none;
  }
}

@-moz-document domain(newsblur.com) {
  .NB-story-title.NB-selected {
    background-color: #fded8d !important;
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#ffffd2),to(#fded8d)) !important;
    background: -moz-linear-gradient(center top,#ffffd2 0,#fded8d 100%) !important;
    border-top: 1px solid #ebe0be !important;
    border-bottom: 1px solid #e3d0ae !important;
  }
}

@-moz-document domain(trello.com) {
  .list-title .num-cards {
    display: inline !important;
    font-weight: bold !important;
    float: right !important;
  }

  .list-title.editing .num-cards {
    display:none !important;
  }
}
