@-moz-document domain(pivotaltracker.com) {
  .panel .details ul.subset > li div.left {
    line-height: 23px;
  }
}

@-moz-document domain(orange.ch) {
  body {
    font-family: sans-serif !important;
  }
}
