@-moz-document domain(trello.com) {
  .list-header-num-cards {
    display: inline !important;
    font-weight: bold !important;
    float: right !important;
  }

  .list-header.editing .list-header-num-cards {
    display: none !important;
  }
}
