/* Always show full findbar */
.findbar-container > * {
  display: -moz-box !important;
}

/* Remove context menu items */
menu[label="Firefox Multi-Account Containers"] {
  display: none !important;
}

menuitem[label="Show 1Password"] {
  display: none !important;
}

/* Fix favicons for container bookmarks */
.bookmark-item[image*="mail.google.com"] image {
  background-image: url(page-icon:https://mail.google.com) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

.bookmark-item[image*="calendar.google.com"] image {
  background-image: url(page-icon:https://calendar.google.com) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

.bookmark-item[image*="contacts.google.com"] image {
  background-image: url(page-icon:https://contacts.google.com) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

.bookmark-item[image*="drive.google.com"] image {
  background-image: url(page-icon:https://drive.google.com) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

.bookmark-item[image*="docs.google.com"] image {
  background-image: url(page-icon:https://docs.google.com) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}
