@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Don't use small fonts in Awesomebar */
#PopupAutoCompleteRichResult[type="autocomplete-richlistbox"] * {
  font-size: 1em !important;
}

/* Always show full findbar */
.findbar-container > * {
  display: -moz-box !important;
}

/* Remove close button on add-on bar */
#addonbar-closebutton {
  visibility: collapse !important;
}

/* Hide AdBlock Plus context menu */
@-moz-document url("chrome://browser/content/browser.xul"),
url("chrome://navigator/content/navigator.xul"),
url("chrome://messenger/content/messenger.xul"),
url("chrome://messenger/content/messageWindow.xul")
{
  #abp-menuitem,
  #abp-image-menuitem,
  #abp-object-menuitem,
  #abp-media-menuitem,
  #abp-frame-menuitem,
  #abp-removeWhitelist-menuitem,
  .abp-contextmenuitem
  {
    display: none !important;
  }
}
