/* Remove tab context menu items */
menuitem#context_openANewTab,
menuitem#context_openANewTab + menuseparator,
menuitem#context_bookmarkTab,
menuitem#context_bookmarkSelectedTabs,
menuitem#context_duplicateTab,
menuitem#context_duplicateTabs,
menu#context_moveTabOptions
{
  display: none !important;
}

/* Remove link context menu items */
menuitem#context-openlink,
menuitem#context-stripOnShareLink,
menuitem#context-sendimage,
menuitem#context-sendvideo,
menuitem#context-sendaudio,
menuitem#context-print-selection,
menuitem#context-searchselect-private,
menuitem#context-setDesktopBackground,
menuseparator#frame-sep,
menuseparator#context-media-eme-separator,
menuseparator#context-sep-setbackground,
menu[label="Firefox Multi-Account Containers"]
{
  display: none !important;
}

/* Fix favicons */
#PlacesToolbarItems image[src*="mail.proton.me"] {
  background-image: url(https://mail.proton.me/assets/favicon.d47d3d0bef6d338e377a.svg) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

#PlacesToolbarItems image[src*="calendar.proton.me"] {
  background-image: url(https://calendar.proton.me/assets/favicon.b4214437d532d78b0916.svg) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

#PlacesToolbarItems image[src*="drive.proton.me"] {
  background-image: url(https://drive.proton.me/assets/favicon.24596a467a6707483736.svg) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}

#PlacesToolbarItems image[src*="web.whatsapp.com"] {
  background-image: url(view-source:https://web.whatsapp.com/favicon.ico) !important;
  background-size: contain !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 0 16px 16px !important;
}
