[Unit]
Description=Fix PulseAudio after resume from suspend
After=suspend.target

[Service]
User=toupeira
Type=oneshot
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/pasuspender true

[Install]
WantedBy=suspend.target
