[Unit]
Description=Run Steam Deck hooks on sleep and resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/deck/dotfiles/bin/switch-hdmi 3.4.0.0
ExecStop=/home/deck/dotfiles/bin/switch-hdmi
ExecStop=/home/deck/dotfiles/bin/switch-wifi
ExecStop=/usr/bin/systemctl restart bluetooth

[Install]
WantedBy=sleep.target
