[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Exec=/slack/dotfiles/bin/steam
Icon=com.valvesoftware.Steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=
X-Desktop-File-Install-Version=0.28
StartupWMClass=Steam
X-Flatpak-RenamedFrom=steam.desktop;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.valvesoftware.Steam
