[Desktop Entry]
Version=1.1
Type=Application
Name=Steam Link
Comment=Stream games from another computer with Steam
Icon=com.valvesoftware.SteamLink
Exec=steam --link
Actions=
MimeType=x-scheme-handler/steamlink;
Categories=Game;
Keywords=Games;
