[Desktop Entry]
Version=1.1
Type=Application
Name=ImageMagick (color depth=q16)
NoDisplay=true
Comment=Display and edit image files
Icon=display-im7.q16
Exec=/usr/bin/display-im7.q16 -nostdin %F
Actions=
MimeType=image/avs;image/bie;image/x-ms-bmp;image/cmyk;image/dcx;image/eps;image/fax;image/fits;image/gif;image/gray;image/jpeg;image/pjpeg;image/miff;image/mono;image/mtv;image/x-portable-bitmap;image/pcd;image/pcx;image/pdf;image/x-portable-graymap;image/pict;image/png;image/x-portable-anymap;image/x-portable-pixmap;image/ps;image/rad;image/x-rgb;image/rgba;image/rla;image/rle;image/sgi;image/sun-raster;image/targa;image/tiff;image/uyvy;image/vid;image/viff;image/x-xbitmap;image/x-xpixmap;image/x-xwindowdump;image/x-icon;image/yuv;
Categories=Graphics;
Keywords=Image;Slideshow;View;Transform;Enhance;F/X;Special Effects;
