[Desktop Entry]
Name=Firefox
Exec=/usr/lib/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/slack/images/Icons/firefox-flat.png
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Categories=Network;WebBrowser;
StartupWMClass=firefox
StartupNotify=true
