[Desktop Entry]
Version=1.1
Type=Application
Name=Firefox
Icon=/slack/images/Icons/firefox-flat.png
Exec=/usr/lib/firefox/firefox %u
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=Firefox
