[Desktop Entry]
Type=Application
Version=1.0
Name=MuseScore Studio 4.4
GenericName=Music notation
Comment=Create, play and print beautiful sheet music
Icon=org.musescore.MuseScore
Exec=musescore %U
Terminal=false
MimeType=application/x-musescore;application/x-musescore+xml;x-scheme-handler/musescore;application/vnd.recordare.musicxml;application/vnd.recordare.musicxml+xml;application/x-mei+xml;audio/midi;application/x-bww;application/x-biab;application/x-capella;audio/x-gtp;application/x-musedata;application/x-overture;audio/x-ptb;application/x-sf2;application/x-sf3;
Categories=AudioVideo;Audio;Graphics;2DGraphics;VectorGraphics;RasterGraphics;Publishing;Midi;Mixer;Sequencer;Music;Qt;
Keywords=music;notation;composition;composing;arranging;making;sheet music;music notation software;lead sheet;leadsheet;score;full score;scorewriter;MIDI;musicxml;playback;instrument;
StartupNotify=true
StartupWMClass=MuseScore4
X-Flatpak=org.musescore.MuseScore
