[Desktop Entry]
Type=Application
Name=Kodi
GenericName=Media Center
Comment=Manage and view your media
Icon=tv.kodi.Kodi
Exec=/slack/dotfiles/bin/kodi
Categories=AudioVideo;Player;TV;Video;
